<div class="swiper-container" data-carousel="news">
	<div class="swiper-wrapper">
		{% for i in 0..4 %}	
		<div class="swiper-slide">
			<li class="item">
				<img src="" alt="" />
				<div class="item__copy">
					<h5>Profiles Of The Powerful Advertising Exec Steve Grasse</h5>
					<p>Conversations can be a tricky business. Sometimes, decoding what is said with what is meant is difficult at best. However, communication is a necessary tool in todays.</p>
					<a href="javascript:;" class="button button__inverted">read more</a>
				</div>
			</li>
		</div>
		{% endfor %}
	</div>
	<div class="swiper-pagination"></div>
</div>