// expertise, callout list, etc.
// naming conventions would be improved if 
// looking at project holistically with a multitude of modules
.features {
	display: flex;
	margin: 0 auto;
	flex-flow: column;
	text-align: center;
	background-color: white;
	justify-content: space-between;
	box-shadow: 0px 50px 50px 10px rgba(0, 0, 0, 0.13);
	@include mq('medium') {
		padding: 7rem;
		max-width: 100%;
		flex-flow: row wrap;
		justify-content: center;
	}
	@include mq('xlarge') {
		flex-flow: row nowrap;
		justify-content: space-between;
	}
	li {
		padding: 0 1vw;
		@include mq('xlarge', max) {
			padding: 0 3vw;
			margin-bottom: 5rem;
			&:last-child {
				// margin-bottom: 0;
			}
		}
		svg,
		img {
			width: 100%;
			height: 14.5rem;
			margin-top: 4rem;
			max-width: 16.5rem;
		}
		h4 {
			margin: 5rem 0 1rem;
		}
		p {
			max-width: 29rem;
			margin: 0 auto 10rem;
			@include fluid-scale(line-height, map-get($breakpoints, 'tiny'), map-get($breakpoints, 'xlarge'), 21px, 28px);
			@include fluid-scale(font-size, map-get($breakpoints, 'tiny'), map-get($breakpoints, 'xlarge'), 14px, 16px);
		}
	}
}