<ul class="features">
	<li>
		<img src="./assets/vectors/growth-imac.svg" alt="" />
		<h4>Research</h4>
		<p>We're the content, research and design team at Oxford. We help riders move, restaurants grow and customers eat in over 200 cities around the world.</p>
		<a href="javascript:;" class="button button__ghost">Find out more</a>
	</li>
	<li>
		<img src="./assets/vectors/television-box.svg" alt="" />
		<h4>Content</h4>
		<p>We're the content, research and design team at Oxford. We help riders move, restaurants grow and customers eat in over 200 cities around the world.</p>
		<a href="javascript:;" class="button button__ghost">Find out more</a>
	</li>
	<li>
		<img src="./assets/vectors/cell-nucleus.svg" alt="" />
		<h4>Product Design</h4>
		<p>We're the content, research and design team at Oxford. We help riders move, restaurants grow and customers eat in over 200 cities around the world.</p>
		<a href="javascript:;" class="button button__ghost">Find out more</a>
	</li>
</ul>