// submenus / tabs
@keyframes reveal {
	from {
		opacity: 0;
		transform: translateY(5%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

// scroll cta
@keyframes pulse {
	50% {
		// background: transparent;
		border-color: rgba(230,230,230,.3);
	}
	to {
		// transform: none;
		transform: scale3d(1.2, 1.2, 1);
		border-color: transparent;
	}
}

// explicit animations to lazyload
@keyframes mqn-swipe-zoom-up {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 1;
		transform: scale(1.15);
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
	}
	100% {
		opacity: 1;
		transform: scale(1);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}

// explicit animations to lazyload
@keyframes mqn-swipe-up {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 1;
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
	}
	100% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}