.hero {
	display: flex;
	padding-top: 15rem;
	position: relative;
	@include mq('medium') {
		padding-top: 30rem;
		min-height: 100vh; // assuming fh vs 128rem comp
	}
	.container {
		margin: 0;
		padding: 0 4vw;
		@include mq('xlarge') {
			margin-left: calc(12.5rem + 5%);
		}
		h1 {
			line-height: normal;
			letter-spacing: -.2rem;
		}
		p {
			margin: 4rem 0 3rem;
			@include mq('medium') {
				margin: 8rem 0 7rem;
			}
		}
	}
	&__content {
		@include mq('medium') {
			// max-width: 80rem;
			max-width: 50%;
		}
	}
	&__circle-line {
		right: 0;
		bottom: 0;
		width: 75vw;
		height: 75vw;
		max-width: 128rem;
		max-height: 128rem;
		position: absolute;
		pointer-events: none;
		background: url(../vectors/circle-line.svg) 100% 0 / contain no-repeat;
		&.revealed {
			.hero__video-cta {
				transition-delay: .9s;
				transform: scale(1, 1);
			}
		}
	}
	&__video-cta {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
		height: 50%;
		color: white;
		display: flex;
		align-items: center;
		pointer-events: auto;
		justify-content: center;
		background-color: map-get($colors, brand-secondary);
		transform-origin: 0 100%;
		transform: scale(1, 0);
		transition: transform 1.1s cubic-bezier(.23,1,.32,1);
		a {
			color: transparent;
			display: flex;
			max-width: 6vw;
			max-height: 8vw;
			@include mq('large') {
				max-width: 6.4rem;
				max-height: 7.8rem;
			}
			&:hover {
				color: white;
			}
		}
	}
	.scroll-cta {
		margin: 5rem 0 4vw;
		@include mq('medium') {
			margin: 20rem 0 4vw;
		}
	}
}