<section class="hero" data-js-module="hero">
	<div class="container">
		<div class="hero__content">
			<h1 data-skrolly="fade-up" data-skrolly-delay="450ms">How do you design content for every language</h1>
			<p data-skrolly="fade-up" data-skrolly-delay="600ms">We're the content, research and design team at Oxford. We help riders move, restaurants grow and customers eat in over 200 cities around the world. Come find the answers with us.</p>
			<!-- button-wrapper due to button being transformed prior to skrolly -->
			<div class="button-wrapper" data-skrolly="fade-up" data-skrolly-delay="750ms">
				<a href="javascript:;" class="button">work with us</a>
			</div>
			<a href="javascript:;" class="scroll-cta" data-scroll-to="split-intro"><span>Scroll</span></a>
		</div>
	</div>
	<div class="hero__circle-line" data-skrolly="fade-in" data-skrolly-delay="450ms">
		<div class="hero__video-cta" data-skrolly="fade-in" data-skrolly-delay="900ms">
			<a href="javascript:;">
				<svg><use xlink:href="#icon-play"></use></svg>
			</a>
		</div>
	</div>
</section>