<section class="hero" data-js-module="hero">
	<div class="container">
		<div class="row">
			<div class="hero__content">
				<h1 data-skrolly="fade-up">How do you design content for every language</h1>
				<p data-skrolly="fade-up" data-skrolly-delay="150ms">We're the content, research and design team at Oxford. We help riders move, restaurants grow and customers eat in over 200 cities around the world. Come find the answers with us.</p>
				<a href="javascript:;" class="button" data-skrolly="fade-up" data-skrolly-delay="300ms">work with us</a>
				<a href="javascript:;" class="scroll-cta" data-scroll-to="split-intro"><span>Scroll</span></a>
			</div>
		</div>
	</div>
	<div class="hero__circle-line">
		<div class="hero__video-cta">
			<a href="javascript:;">
				<svg><use xlink:href="#icon-play"></use></svg>
			</a>
		</div>
	</div>
</section>