<header class="header" data-ajax-links>
	<nav class="" role="nav" data-skrolly data-skrolly-group="fade-up" data-skrolly-delay="150ms">
		<a href="/" class="logo" title="Mi Business">
			<svg><use xlink:href="#logo"></use></svg>
		</a>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about">Intro</a>
			</li>
			<li>
				<a href="/about">Expertises</a>
			</li>
			<li>
				<a href="/about">Work</a>
			</li>
			<li>
				<a href="/about">Plans</a>
			</li>
			<li>
				<a href="/about">News</a>
			</li>
		</ul>
		<ul class="user-actions">
			<li><a href="/about">Sign In</a></li>
			<li><a href="/about">Sign Up</a></li>
		</ul>
		<div class="mobile-menu-toggle">Menu</div>
	</nav>
</header>